<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro de Funcionário</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="./css/geral.css" />
    </head>
    <body>
        <div class="container">
            <h3>Sistema de gerenciamento de Funcionários da empresa XYZ</h3>
            <a th:href="@{/cadastroFuncionario}" method="post" class="btn btn-default">Cadastrar funcionários</a>
            <a th:href="@{/listaFuncionario}" method="get" class="btn btn-default">Listar funcionários</a>
            <a th:href="@{/cadastroArea}" method="post" class="btn btn-default">Cadastras Área</a>
            <a th:href="@{/listaArea}" method="get" class="btn btn-default">Listar Área</a>
        </div>
    </body>
</html>