<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulário</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="./css/geral.css" />
    </head>
    <body>
        <div class="container">
            <h3>Lista de Áreas</h3>
            <div class="formulario">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Nome</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="area : ${lista}">
                        <td th:text="${area.getNome()}" id="nome" >Nome</td>
                        <td>
                            <a th:href="@{'/deletarArea/' + ${area.codigo}}">
                                <input class="btn btn-default" type="submit" value="Deletar" />
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/deletarAreaCascata/' + ${area.codigo}}">
                                <input class="btn btn-default" type="submit" value="Deletar área + funcionarios" />
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <p modelAttribute="erro" th:value="${erro}" th:text="${erro}" id="erro">Erro</p>
            <br />
            <a th:href="@{/}" method="get" class="btn btn-default">Index</a>
            <a th:href="@{/cadastroFuncionario}" method="post" class="btn btn-default">Cadastrar funcionários</a>
            <a th:href="@{/listaFuncionario}" method="get" class="btn btn-default">Listar Funcionários</a>
            <a th:href="@{/cadastroArea}" method="post" class="btn btn-default">Cadastras Área</a>
        </div>
    </body>
</html>